.u-section-1 {
  background-image: linear-gradient(0deg, #333333, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-text-1 {
  margin: 115px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: 42px 989px 0 13px;
}

.u-section-1 .u-line-1 {
  height: 76px;
  width: 5px;
  transform-origin: center bottom 0px;
  margin: -83px auto 0 -2px;
}

.u-section-1 .u-group-1 {
  width: 289px;
  min-height: 47px;
  height: auto;
  margin: 70px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: -2px auto 0 0;
  padding: 10px 67px;
}

.u-section-1 .u-image-1 {
  width: 35px;
  height: 34px;
  margin: -37px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 802px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 582px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 402px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 202px;
    font-size: 2.25rem;
  }
}